# Ignore everything by default
*

# Include the necessary files to install with setuptools
!powerapi/
!LICENSE
!README.md
!pyproject.toml

# Ignore Byte-compiled / optimized / DLL files
**/__pycache__
**/*.py[cod]
