name: Pull Request

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
      - reopened

permissions:
  contents: read

jobs:
  check-pr:
    name: Check Pull Request
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
      statuses: write

    steps:
      - name: Validate title
        uses: amannn/action-semantic-pull-request@0723387faaf9b38adef4775cd42cfd5155ed6017 # v5.5.3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
