name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: read

jobs:
  pre-checks:
    name: Release Pre-Checks
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Check if package version corresponds to git tag
        shell: python
        env:
          PYTHONPATH: ${{ github.workspace }}/src
        run: |
          import os
          import sys
          from powerapi import __version__

          git_tag = os.environ['GITHUB_REF_NAME'].removeprefix('v')
          pkg_version = __version__

          if git_tag != pkg_version:
            title = 'Invalid version'
            file = 'src/powerapi/__init__.py'
            msg = f'Version mismatch between python package ({pkg_version}) and git tag ({git_tag})'
            print(f'::error title={title},file={file}::{msg}')
            sys.exit(1)

  build-python-package:
    name: Build Python Package
    runs-on: ubuntu-latest
    needs: [pre-checks]
    outputs:
      dist-hashes: ${{ steps.dist-hashes.outputs.hash }}
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.x"

      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0

      - name: Build sdist and wheel
        run: |
          uv build --sdist --wheel --out-dir dist/

      - name: Compute SHA256 hashes of build artifacts
        id: dist-hashes
        shell: bash
        run: |
          cd ./dist && echo "hash=$(sha256sum -- * | base64 -w0)" >> $GITHUB_OUTPUT

      - name: Upload build artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: "python-build-dist"
          path: ./dist
          if-no-files-found: error

  slsa-provenance:
    name: Generate artifacts provenance attestation
    needs: [build-python-package]
    permissions:
      actions: read
      contents: write
      id-token: write
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_generic_slsa3.yml@v2.1.0
    with:
      base64-subjects: "${{ needs.build-python-package.outputs.dist-hashes }}"
      upload-assets: false

  publish-python-package:
    name: Publish Pypi Package
    runs-on: ubuntu-latest
    needs: [build-python-package, slsa-provenance]
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: "python-build-dist"
          path: dist

      - name: Publish package
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
        with:
          print-hash: true
          attestations: true

  docker-image:
    name: Publish Docker image
    runs-on: ubuntu-latest
    needs: [pre-checks, publish-python-package]
    permissions:
      contents: read
      packages: write

    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Log in to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ vars.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: |
            docker.io/powerapi/powerapi
            ghcr.io/powerapi-ng/powerapi
          tags: |
            type=pep440,pattern={{version}}

      - name: Build and push Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        id: build-and-push
        with:
          push: true
          provenance: false
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            POWERAPI_INSTALL_METHOD=pypi
            POWERAPI_VERSION=${{ steps.meta.outputs.version }}

  github-release:
    name: Publish GitHub release
    runs-on: ubuntu-latest
    needs: [publish-python-package, docker-image]
    permissions:
      contents: write
    env:
      CHGLOG_VERSION: "0.15.4"

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Generate version changelog
        run: |
          set -euo pipefail
          export BASE_URL="https://github.com/git-chglog/git-chglog/releases/download"
          export FILENAME="git-chglog_${CHGLOG_VERSION}_linux_amd64.tar.gz"
          curl -fsSL "${BASE_URL}/v${CHGLOG_VERSION}/${FILENAME}" |sudo tar xz --no-same-owner -C /usr/local/bin git-chglog
          git-chglog --config .github/chglog/config.yml --output CHANGELOG.md "${GITHUB_REF_NAME}"

      - name: Download python build artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: "python-build-dist"
          path: dist

      - name: Download SLSA provenance attestation
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: "multiple.intoto.jsonl"
          path: dist

      - name: Create GitHub release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          body_path: CHANGELOG.md
          files: |
            dist/powerapi-*.whl
            dist/powerapi-*.tar.gz
            dist/multiple.intoto.jsonl
